################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/Debug
**/obj
**/bin
.DS_Store
.idea/
*.DotSettings.user
**/.vs
**/*.class