################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/nalabs_plugin/UpdateSite/features
/nalabs_plugin/UpdateSite/plugins
**/Debug
**/obj
**/bin
.DS_Store
.idea/
*.DotSettings.user
**/.vs
