<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="Nalabs.commands.category"
            name="NALABS">
      </category>
      <command
            categoryId="Nalabs.commands.category"
            name="Analyze Requirements"
            id="Nalabs.commands.analyzeRequirementsCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="nalabs.handlers.NalabsHandler"
            commandId="Nalabs.commands.analyzeRequirementsCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="Nalabs.commands.analyzeRequirementsCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+7">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="Nalabs.menus.Menu"
               label="NALABS"
               mnemonic="M">
            <command
                  commandId="Nalabs.commands.analyzeRequirementsCommand"
                  id="Nalabs.menus.sampleCommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.views">
	    <view
	        id="nqdin29hbfwpifgpnpw09fgew30"
	        name="Requirements"
	        class="nalabs.views.MainView">
	    </view>
	</extension>

</plugin>
